.roundedSquare {
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-style: solid;
  border-width: 1px;
}

.titleBackground {
  position: relative;
  top: -40px;
  height: 40px;
  opacity: 0.1;
}

.title {
  border-bottom: solid 0.5px;
  margin-bottom: 0px;
  opacity: 1;
}