.container {
  margin: auto;
  width: 90%;
}

.container * {
  font-size: 19px;
}

.sudokuBoard {
  margin: auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  column-gap: 1px;
  row-gap: 1px;
}

.sudokuBoard > button {
  background-color: #fff;
  border: solid 2px #d1d0d0;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.sudokuBoard > button:nth-child(3n) {
  border-right: solid 2px #c41374;
}
.sudokuBoard > button:nth-child(3n + 1) {
  border-left: solid 2px #c41374;
}
.sudokuBoard > button:nth-child(n + 0):nth-child(-n + 9),
.sudokuBoard > button:nth-child(n + 28):nth-child(-n + 36),
.sudokuBoard > button:nth-child(n + 55):nth-child(-n + 63) {
  border-top: solid 2px #c41374;
}
.sudokuBoard > button:nth-child(n + 19):nth-child(-n + 27),
.sudokuBoard > button:nth-child(n + 46):nth-child(-n + 54),
.sudokuBoard > button:nth-child(n + 73):nth-child(-n + 82) {
  border-bottom: solid 2px #c41374;
}

.sudokuBoard > button.fixed {
  background-color: #fff;
  color: #000;
}

.buttonGroup {
  margin: auto;
  padding-top: 20px;
  border-top: solid 2px #c41374;
  width: 100%;
  text-align: center;
}

.buttonGroup button {
  width: 100px;
  height: 50px;
  color: #fff;
  font-size: 19px;
  background-color: #279b9b;
  border: solid 1px;
  border-radius: 5px;
}
