.hoc {
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.body {
  display: grid;
  padding-bottom : 20px;
  padding-top : 20px;
  grid-template-columns: 1fr;
}

.body:not(:last-child) {
  border-bottom: solid 0.5px var(--base-color);
}

.label {
  color: gray;
  line-height: 2;
}

.item {
  justify-items: stretch;
  justify-content: stretch;
}
.list {
  padding-left: 20px;
}

.list ul {
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.list li {
  padding-left: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media (min-width: 600px) {
  .item:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list ul {
    padding-left: 20px;
  }
  .list li {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  .body {
    grid-template-columns: 3fr 8fr;
    column-gap: 20px;
  }
  .item:nth-child(1) {
    display: unset;
    justify-content: unset;
    align-items: unset;
  }
}
