.navigation {
  position: fixed;
  right: 3vw;
  padding: 5px;
  border-radius: 10px;
  border: solid 1px purple;
  background-color: rgba(255,255,255, 0.8);
}

.navItem {
  margin: 5px;
}

.active {
  font-weight: 600;
}
